@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,400;0,600;1,200;1,500&family=Quintessential&family=Rubik+Maze&display=swap');

:root{
    --color1:#dbc5ff;
    --color2:#ffe5ff;
    --color3:#1c1833;
    --color4:#78767c;
    --color5:#e2e2e2;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: white;
    max-width: 100vw;
}
a{
    color: black;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.7rem;
}
h3{
    font-size: 2.2rem;
}
h4{
    font-size: 1.7rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}
html{
    font-size: 15px;
}
nav{
    top: 0;
    position:fixed;
    width: 100%;
    height: 5rem;
    background: plum;
}
nav .container{
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
section{
    /* margin-top: 6rem; */
    padding: 6rem 0;
    /* padding-bottom: 0; */
}
.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info{
    align-items: center;
    display: flex;
}

.info ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


section.salary{
    margin: 7px 0 0;
    background-image: url(/static/images/movie.jpg);
    height: 60vh;
    width: 100%;
    display: flex;
    background-size: cover;
    align-items: center;

}
#btn-predict:hover
{
    color: white;
    background: black;
}
section.salary .container{
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
section.salary{
    height: 90vh;
    background-image:url("/static/images/brain.jpg") ;
}
section.salary .container button{
    display: block;
    margin: 0 auto;
}

section.salary .container h1{
    color: white;
    text-transform: uppercase;
}
form{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
}
input{
    /* width: 100%; */
    height: 5rem;
    margin: 10px auto;
    width: 50%;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin:  0 auto;
    height: 3rem;
    border-radius: 1.5rem;
    width: 8rem;
    background: lightsteelblue;
}
button:hover{
    cursor: pointer;
}
footer{
    background: rgb(161, 1, 161) ;
}
.footer__container{
    text-align: center;
    color: white;
}

#res{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section.salary .container{
    height: 120vh;
    /* display: none; */
}
